.anchor {
  &--center{
    &-center {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-left {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &-right {
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  &--top {
    &-center {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &-left {
      top: 0;
      left: 0;
    }
    &-right {
      top: 0;
      right: 0;
    }
  }

  &--bottom {
    &-center {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &-left {
      bottom: 0;
      left: 0;
    }
    &-right {
      bottom: 0;
      right: 0;
    }
  }
}